
.frame {
    /* border: 1px red solid; */

    text-align: center;
}

#intro {
    /* background-image: url(assets/Background_Intro.png); */
    background-image: url(../assets/Background_Intro.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    /* ATENÇÃO 
       não sei se é certo deixar essa definição de altura da div
       ou se uso uma margim bottom pro icone
       ou um padding bottom pra div
       
       O que devo considerar para decidir corretamente?
    */
    /* height: 750px; */
    padding-bottom: 57px;

    gap: 94px;
}

#info {
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    gap: 80px;

    /* border: 1px orange solid; */

    margin-top: 120px;
}

header {
    /* border: 1px blue dotted; */

    display: flex;
    flex-direction: column;
    gap: 56px;
}

#info-profissional {
    display: flex;
    flex-direction: column;
    gap: 20px;

    p:nth-child(1) {
        text-align: center;
        vertical-align: top;
        
        font: var(--text-subtitle);
        color: var(--color-gray-500);

        span {
            color: var(--color-red);
        }
    }

    h1 {
        display: grid;
        align-items: start;
        place-self: center;

        font: var(--text-title-lg);
        color: var(--color-gray-600)
    }

    p:nth-child(3) {
        text-align: center;
        vertical-align: top;
        
        font: var(--text-sm);
        color: var(--color-gray-400);
    }

}

#tags {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;

    div {
        /* border: 1px lime solid; */

        display: flex;
        align-items: center;
        gap: 8px;

        background-color: var(--color-gray-300);

        padding: 8px 16px;
        border-radius: 999px;

        span {
            font: var(--text-md);
            color: var(--color-gray-500);
        }

        svg {
            width: 24px;
            height: 24px;
        }

    }
}

.avatar {
    display: grid;
    place-self: center;

    width: 112px;
    height: 112px;

    background-image: url(../assets/User.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    border: 2px solid #E3646E;
    /* Borda interna */
    border-radius: 50%;
}

#borda-inside {
    display: grid;

    border: 4px #16181D solid;

    border-radius: 50%;

    svg {
        /* display: grid; */
        place-self: end;

        transform: scale(1.2);
        stroke: #16181D;
        stroke-width: 4;
    }
}
