.grid {
    display: grid;
}

.grid-flow-row {
    grid-auto-flow: row;
}

.grid-flow-col {
    grid-auto-flow: column;
}

.flex {
    display: flex;
}

.flex-dir-col {
    flex-direction: column;
}

.flex-dir-row {
    flex-direction: row;
}

/*
**************************************************
********************* FONTES *********************
**************************************************
*/
.text-title-lg {
    font: var(--text-title-lg)
}
.text-title-md {
    font: var(--text-title-md);
}
.text-title-sm {
    font: var(--text-title-sm);
}
.text-subtitle {
    font: var(--text-subtitle);
}
.text-md {
    font: var(--text-md);
}
.text-sm {
    font: var(--text-sm);
}
/*
**************************************************
************ CORES PREENCHIMENTO SVG *************
**************************************************
*/
.svg-color-red path{
    fill : var(--color-red);
}
.svg-color-purple path{
    fill: var(--color-purple);
}
.svg-color-blue path{
    fill: var(--color-blue);
}
.svg-color-green path{
    fill: var(--color-green);
}
.svg-color-yellow path{
    fill: var(--color-yellow);
}
.svg-color-gray-400 path{
    fill: var(--color-gray-400);
}
.svg-color-gray-500 path{
    fill: var(--color-gray-500);
}
/*
**************************************************
********************* CORES **********************
**************************************************
*/
.color-red {
    color : var(--color-red);
}
.color-purple {
    color: var(--color-purple);
}
/* .color-blue {
    color: var(--color-blue);
}
.color-green {
    color: var(--color-green);
}
.color-yellow {
    color: var(--color-yellow);
} */
.color-gray-100 {
    color: var(--color-gray-100);
}
.color-gray-200 {
    color: var(--color-gray-200);
}
.color-gray-300 {
    color: var(--color-gray-300);
}
.color-gray-400 {
    color: var(--color-gray-400);
}
.color-gray-500 {
    color: var(--color-gray-500);
}
.color-gray-600 {
    color: var(--color-gray-600);
}
